@import '../../node_modules/bootstrap/scss/bootstrap';

$color1: #1a1a2e;
$color2: #16213e;
$color3: #0f3460;
$color4: #e94560;

.favorite-section {
  margin: 2rem;
}

.favorite-title {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.favorite-list {
  margin: 1rem auto;
  display: grid;
  grid-gap: 1rem;

  @include media-breakpoint-between(md, xl) {
    justify-content: space-around;
    grid-template-columns: repeat(3, 20rem);
  }

  @include media-breakpoint-down(sm) {
    justify-content: center;
    grid-template-columns: repeat(1, 20rem);
  }
}
