a:hover {
  color: $color4 !important;
  text-decoration: none !important;
}

.custom-button {
  border: 0;
  background: none;
  text-transform: uppercase;
  color: $color4;
  font-weight: bold;
  position: relative;
  outline: none;
  padding: 0.5rem 1rem;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
    position: absolute;
    content: '';
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: $color4;
    border-right-color: $color4;
    transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
  }

  &:hover::after {
    border-bottom-color: $color4;
    border-left-color: $color4;
    transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s,
      height 0.3s ease-out 1s;
  }
}
